---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->

<h2> Book Chapters </h2><hr />

<ul>
  <li><p><a href="https://link.springer.com/referenceworkentry/10.1007/978-981-15-6401-7_5-1"> Real-Time Scheduling for Computing Architectures </a><br>
    Arvind Easwaran, Michael Yuhas, <b>Saravanan Ramanathan</b> and Ankita Samaddar.<br>
    In: Handbook of Computer Architecture, Springer, 2024.</p></li>
</ul>

<h2> Conferences </h2><hr />

  <ul>
    
    <li><p><a href="https://link.springer.com/referenceworkentry/10.1007/978-981-15-6401-7_5-1"> Minimising Task Tardiness for Multi-Agent Pickup and Delivery </a><br>
    <b>Saravanan Ramanathan</b>, Yihao Liu, Xueyan Tang, Wentong Cai and Jingning Li.<br>
    In: International Conference on Autonomous Agents and Multi-Agent Systems (AAMAS), 2023.</p></li>

    <li><p><a href="https://www.computer.org/csdl/proceedings-article/rtss/2021/280200a149/1z92gKaIZPO"> Cluster-based Network Time Synchronization for Resilience with Energy Efficiency </a><br>
    Nitin Shivaraman, Patrick Schuster, <b>Saravanan Ramanathan</b>, Arvind Easwaran and Sebastian Steinhorst.<br>
    In: IEEE Real-Time Systems Symposium (RTSS), 2021.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/9632317"> A Novel Load Distribution Strategy for Aggregators using IoT-enabled Mobile Devices </a><br>
    Nitin Shivaraman, Jakob Fittler, <b>Saravanan Ramanathan</b>, Arvind Easwaran and Sebastian Steinhorst.<br>
    In: IEEE International Conference on Communications, Control, and Computing Technologies for Smart Grids (SmartGridComm), 2021.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/9209755"> DeCoRIC: Decentralized Connected Resilient IoT Clustering </a><br>
    Nitin Shivaraman, <b>Saravanan Ramanathan</b>, Shreejith Shanker, Arvind Easwaran and Sebastian Steinhorst.<br>
    In: IEEE International Conference on Computer Communications and Networks (ICCCN), 2020.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/9111052"> Poster Abstract: C-Sync: The Resilient Time Synchronization Protocol </a><br>
    Nitin Shivaraman, Patrick Schuster, <b>Saravanan Ramanathan</b>, Arvind Easwaran and Sebastian Steinhorst.<br>
    In: ACM/IEEE International Conference on Information Processing in Sensor Networks (IPSN), 2020.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/9096021"> WiP Abstract: Mobility-based Load Balancing for IoT-enabled Devices in Smart Grids </a><br>
    Nitin Shivaraman, Jakob Fittler, <b>Saravanan Ramanathan</b>, Arvind Easwaran and Sebastian Steinhorst.<br>
    In: ACM/IEEE International Conference on Cyber-Physical Systems (ICCPS), 2020.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/9116577"> Real-Time Energy Monitoring in IoT-enabled Mobile Devices </a><br>
    Nitin Shivaraman, Seima Saki, Zhiwei Liu, <b>Saravanan Ramanathan</b>, Arvind Easwaran and Sebastian Steinhorst.<br>
    In: Design, Automation & Test in Europe Conference & Exhibition (DATE), 2020.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/abstract/document/8958666"> Combining Task-level and System-level Scheduling Modes for Mixed Criticality Systems </a><br>
    Jalil Boudjadar, <b>Saravanan Ramanathan</b>, Arvind Easwaran and Ulrik Nyman.<br>
    In: IEEE/ACM International Symposium on Distributed Simulation and Real Time Applications (DS-RT), 2019.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/8421142"> Mixed-Criticality Scheduling on Multiprocessors with Service Guarantees </a><br>
    <b>Saravanan Ramanathan</b> and Arvind Easwaran.<br>
    In: IEEE International Symposium on Real-Time Distributed Computing (ISORC), 2018.</p></li>

    <li><p><a href="https://ieeexplore.ieee.org/document/7926989"> Utilization Difference Based Partitioned Scheduling of Mixed-Criticality Systems </a><br>
    <b>Saravanan Ramanathan</b> and Arvind Easwaran.<br>
    In: Design, Automation & Test in Europe Conference & Exhibition (DATE), 2017.</p></li>
    
  </ul>

<h2> Journals </h2><hr />

<ul>
  <li><p><a href="https://link.springer.com/article/10.1007/s11241-022-09389-4"> Design and Analyses of Functional Mode Changes for Mixed-Criticality Systems </a><br>
    Vijaya Kumar Sundar, <b>Saravanan Ramanathan</b> and Arvind Easwaran.<br>
    In: Real-Time Systems, 2022.</p></li>
  
  <li><p><a href="https://ieeexplore.ieee.org/document/9555644"> Design and Evaluation of V2X-based Dynamic Bus Lanes </a><br>
    Meng Xie, <b>Saravanan Ramanathan</b>, Andreas Rau, David Eckhoff and Fritz Busch.<br>
    In: IEEE Access, 2021.</p></li>

  <li><p><a href="https://www.degruyter.com/document/doi/10.1515/itit-2020-0013/html"> A Survey on Time-Sensitive Resource Allocation in the Cloud Continuum </a><br>
    <b>Saravanan Ramanathan</b>, Nitin Shivaraman, Seima Suryasekaran, Arvind Easwaran, Etienne Borde and Sebastian Steinhorst.<br>
    In: it - Information Technology, 2020.</p></li>

  <li><p><a href="https://link.springer.com/article/10.1007/s11241-017-9296-1"> Multi-Rate Fluid Scheduling of Mixed-Criticality Systems on Multiprocessors </a><br>
    <b>Saravanan Ramanathan</b>, Arvind Easwaran and Hyeonjoong Cho.<br>
    In: Real-Time Systems, 2018.</p></li>

  <li><p><a href="https://ieeexplore.ieee.org/document/8059775"> MC-Fluid: Multi-Core Fluid-Based Mixed-Criticality Scheduling </a><br>
    Jaewoo Lee, <b>Saravanan Ramanathan</b>, Kieu-My Phan, Arvind Easwaran, Insik Shin and Insup Lee.<br>
    In: IEEE Transactions on Computers, 2018.</p></li>
  
</ul>

<h2> Workshops </h2><hr />

<ul>
  <li><p><a href="http://www.cister.isep.ipp.pt/rtsops2016/"> The Feasibility Analysis of Mixed-Criticality Systems </a><br>
    <b>Saravanan Ramanathan</b>, Xiaozhe Gu and Arvind Easwaran.<br>
    In: International Real-Time Scheduling Open Problems Seminar (RTSOPS), 2016.</p></li>

  <li><p><a href="https://www.ecrts.org/forum/viewtopic8e70.html?t=68"> Evaluation of Mixed-Criticality Scheduling Algorithms using a Fair Taskset Generator </a><br>
    <b>Saravanan Ramanathan</b> and Arvind Easwaran.<br>
    In: International Workshop on Analysis Tools and Methodologies for Embedded and Real-Time Systems (WATERS), 2016.</p></li>

  <li><p><a href="https://www-users.york.ac.uk/~rd17/wmc/2.pdf"> MC-Fluid: Rate Assignment Strategies </a><br>
    <b>Saravanan Ramanathan</b> and Arvind Easwaran.<br>
    In: Workshop on Mixed Criticality Systems (WMC), 2015.</p></li>
  
</ul>
