---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h3> Teaching Assistant, Nanyang Technological University </h3>

<ul>
  <li> CE7452: RTOS for Cyber-Physical Systems (Spring'17) </li>
  <li> ES6153: Embedded Operating Systems (Spring'17, Spring'16) </li>
  <li> CE2005: Operating Systems (Fall'17, Fall'16) </li>
  <li> ES6151: Embedded Systems Design (Fall'14) </li>
</ul> 

<h3> Guest Lecturer, Thiagarajar College of Engineering </h3> 

<ul>
  <li> 18EEEA0: Internet of Things (Spring'21) </li>
</ul>

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
