---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Teaching Assistant, Nanyang Technological University
======
* CE7452 RTOS for Cyber-Physical Systems (Graduate, Spring'17)
* ES6153 Embedded Operating Systems (Graduate, Spring'17,'16)
* CE/CZ2005 Operating Systems (Undergraduate, Fall'17,'16)
* ES6151 Embedded Systems Design (Graduate, Fall'14)

Guest Lecturer, Thiagarajar College of Engineering
======
* 18EEEA0 Internet of Things (Undergraduate, Spring'21)

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
