---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h3> Teaching Assistant, Nanyang Technological University </h3>

<ul>
  <li> CE7452 RTOS for Cyber-Physical Systems (Graduate, Spring'17) </li>
  <li> ES6153 Embedded Operating Systems (Graduate, Spring'17, Spring'16) </li>
  <li> CE/CZ2005 Operating Systems (Undergraduate, Fall'17, Fall'16) </li>
  <li> ES6151 Embedded Systems Design (Graduate, Fall'14) </li>
</ul> 

<h3> Guest Lecturer, Thiagarajar College of Engineering </h3> 

<ul>
  <li> 18EEEA0 Internet of Things (Undergraduate, Spring'21) </li>
</ul>

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
